/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --description-text-color: #000028;
  --section-text-color: #FF0070;
  --decoration-color: #FF0070;
  --hover-color: #FF007066;
  --menu-color: var(--accent-color);
}

.theme-dark .rec {
  display: inline-block;
}