/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --main-font-family: 'IBM Plex mono', monospace;
  --main-font-size: 18px;
  --description-text-color: #000028;
  --section-text-color: #FF0070;
  --decoration-color: #FF0070;
  --hover-color: #FF007066;
  --menu-color: var(--accent-color);
}